.container{
    background-color: rgb(43, 43, 73);
    height: 600px;
    border-radius: 8%;
    display: block;
    background-size: auto;
}
.todo-form {
    display: flex;
    justify-content: center;
}
h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
    margin-left: 40%;
}
.todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
90deg,#5d0cff,#9b00fa);
    color: #fff;
    text-transform: capitalize;
}
.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}