.App {
  /* text-align: center;
  width: 100%;
  height:1000px;
  background-image: url("./image/—Pngtree—simple cute pet dog background_1375478.png");
  background-repeat: no-repeat;
  background-size:cover; */
  /* background-color: darkgray; */
}
